/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include "keys_sv.h"
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/modifiers.h>

// Layers
#define Qwerty 0
#define ColeDH 1
#define Sym 2
#define Numpad 3
#define Tarmak1a 4
#define Tarmak1b 5
#define Tarmak2a 6
#define Tarmak2b 7
#define Tarmak3 8
#define Tarmak4 9
#define Sel 10

#define SV_PLUS_
/ {
    behaviors {
        // Cmd/Ctrl shortcut exceptions (mirrors Kanata qwerty-cmd / qwerty-ctrl).
        // z/x/c never move in this Colemak-DH progression, so Cmd+Z/X/C already
        // work. Only physical-v (-> d) and physical-e (-> f) need rescuing:
        //   - under Cmd OR Ctrl: physical-v sends V (Cmd/Ctrl+V = paste; real mod kept)
        //   - under Ctrl only:   physical-e sends E (Ctrl+E = end-of-line). Cmd keeps F
        //                        so Cmd+F still works -- matching the Kanata setup.
        // The first binding is the layer's normal letter, so each Tarmak step uses
        // the morph whose default matches its v/e output.
        cv_d: cmd_ctrl_v_from_d {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp V>;
            mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL)>;
        };
        cv_b: cmd_ctrl_v_from_b {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp V>;
            mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL)>;
        };
        cv_j: cmd_ctrl_v_from_j {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp V>;
            mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL)>;
        };
        ce_f: ctrl_e_from_f {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp E>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        ce_j: ctrl_e_from_j {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp E>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            display-name = "QWERTY";
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                           &kp N6      &kp N7     &kp N8     &kp N9   &kp N0    &kp BSPC
&kp TAB     &kp Q   &kp W   &kp E     &kp R     &kp T                            &kp Y       &kp U      &kp I      &kp O    &kp P     &kp LBKT
&kp LSHIFT  &kp A   &kp S   &kp D     &kp F     &kp G                            &kp H       &kp J      &kp K      &kp L    &kp SEMI  &kp APOS
&kp LCTRL   &kp Z   &kp X   &kp C     &kp V     &kp B    &kp SPACE    &kp BSPC   &kp N       &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RET
                            &kp LALT  &kp LGUI  &mo Sym  &kp RET      &kp SPACE  &mo Sym     &kp BSPC   &none 
            >;
        };

        colemak_dh {
            display-name = "CMK";
            bindings = <
&trans  &trans  &trans  &trans    &trans    &trans                          &trans      &trans     &trans     &trans   &trans    &kp BSPC
&trans  &kp Q   &kp W   &ce_f     &kp P     &kp B                           &kp J       &kp L      &kp U      &kp Y    &kp SEMI  &kp LBKT
&trans  &kp A   &kp R   &kp S     &kp T     &kp G                           &kp M       &kp N      &kp E      &kp I    &kp O     &kp APOS
&trans  &kp Z   &kp X   &kp C     &cv_d     &kp V   &trans       &trans     &kp K       &kp H      &trans     &trans   &kp FSLH  &kp RET
                        &trans    &trans    &trans  &trans       &trans     &trans      &trans     &trans 
            >;
        };

        layer2 {
            display-name = "Sym";
            bindings = <
&kp ESC       &kp F1        &kp F2         &kp F3    &kp F4      &kp F5                       &kp F6     &kp F7     &kp F8     &kp F9    &kp F10      &kp DEL
&bt BT_SEL 0  &bt BT_SEL 1  &trans         &trans    &trans      &trans                       &trans     &trans     &trans     &trans    &kp MINUS    &kp EQUAL
&trans        &trans        &trans         &trans    &trans      &trans                       &trans     &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT    &kp RBKT
&trans        &kp GRAVE     &kp LS(GRAVE)  &trans    &trans      &trans     &trans    &trans  &trans     &none      &none      &none     &none        &kp BACKSLASH
                                           &trans    &trans      &trans     &trans    &trans  &trans     &trans     &trans
            >;
        };

        numpad_layer {
            display-name = "Num";
            bindings = <
&trans  &trans  &trans  &trans   &trans   &trans                     &trans       &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_MINUS  &trans    &trans
&trans  &trans  &trans  &trans   &trans   &trans                     &kp KP_N7    &kp KP_N8      &kp KP_N9        &kp PLUS      &trans    &trans
&trans  &trans  &trans  &trans   &trans   &trans                     &kp KP_N4    &kp KP_N5      &kp KP_N6        &trans        &trans    &trans
&trans  &trans  &trans  &trans   &trans   &trans  &trans     &trans  &kp KP_N1    &kp KP_N2      &kp KP_N3        &kp RET       &trans    &trans
                        &trans   &trans   &trans  &trans     &trans  &kp KP_N0    &kp COMMA      &kp DOT
            >;
        };

        // --- Tarmak progression to Colemak-DH (de-angled for ortho/columnar) ---
        // Mirrors the Kanata setup on the internal keyboard. The ISO angle mod
        // is dropped (no <> key, no row stagger to compensate for); the DH curl
        // is kept. Final step == the colemak_dh layer above. Switch steps via
        // the Sel layer (combo ESC+TAB, then a number) -- see README.

        tarmak1a { // E>K>N>(J): E and N to home row
            display-name = "T1a";
            bindings = <
&trans  &trans  &trans  &trans    &trans    &trans                          &trans      &trans     &trans     &trans   &trans    &kp BSPC
&trans  &kp Q   &kp W   &ce_j     &kp R     &kp T                           &kp Y       &kp U      &kp I      &kp O    &kp P     &kp LBKT
&trans  &kp A   &kp S   &kp D     &kp F     &kp G                           &kp H       &kp N      &kp E      &kp L    &kp SEMI  &kp APOS
&trans  &kp Z   &kp X   &kp C     &kp V     &kp B   &trans       &trans     &kp K       &kp M      &trans     &trans   &kp FSLH  &kp RET
                        &trans    &trans    &trans  &trans       &trans     &trans      &trans     &trans
            >;
        };

        tarmak1b { // + H>M curl swap
            display-name = "T1b";
            bindings = <
&trans  &trans  &trans  &trans    &trans    &trans                          &trans      &trans     &trans     &trans   &trans    &kp BSPC
&trans  &kp Q   &kp W   &ce_j     &kp R     &kp T                           &kp Y       &kp U      &kp I      &kp O    &kp P     &kp LBKT
&trans  &kp A   &kp S   &kp D     &kp F     &kp G                           &kp M       &kp N      &kp E      &kp L    &kp SEMI  &kp APOS
&trans  &kp Z   &kp X   &kp C     &kp V     &kp B   &trans       &trans     &kp K       &kp H      &trans     &trans   &kp FSLH  &kp RET
                        &trans    &trans    &trans  &trans       &trans     &trans      &trans     &trans
            >;
        };

        tarmak2a { // + B/V relocation (Kanata's angle-mod step; angle itself dropped)
            display-name = "T2a";
            bindings = <
&trans  &trans  &trans  &trans    &trans    &trans                          &trans      &trans     &trans     &trans   &trans    &kp BSPC
&trans  &kp Q   &kp W   &ce_j     &kp R     &kp T                           &kp Y       &kp U      &kp I      &kp O    &kp P     &kp LBKT
&trans  &kp A   &kp S   &kp D     &kp F     &kp G                           &kp M       &kp N      &kp E      &kp L    &kp SEMI  &kp APOS
&trans  &kp Z   &kp X   &kp C     &cv_b     &kp V   &trans       &trans     &kp K       &kp H      &trans     &trans   &kp FSLH  &kp RET
                        &trans    &trans    &trans  &trans       &trans     &trans      &trans     &trans
            >;
        };

        tarmak2b { // + (J)>B>T>F: T to home row
            display-name = "T2b";
            bindings = <
&trans  &trans  &trans  &trans    &trans    &trans                          &trans      &trans     &trans     &trans   &trans    &kp BSPC
&trans  &kp Q   &kp W   &ce_f     &kp R     &kp B                           &kp Y       &kp U      &kp I      &kp O    &kp P     &kp LBKT
&trans  &kp A   &kp S   &kp D     &kp T     &kp G                           &kp M       &kp N      &kp E      &kp L    &kp SEMI  &kp APOS
&trans  &kp Z   &kp X   &kp C     &cv_j     &kp V   &trans       &trans     &kp K       &kp H      &trans     &trans   &kp FSLH  &kp RET
                        &trans    &trans    &trans  &trans       &trans     &trans      &trans     &trans
            >;
        };

        tarmak3 { // + (J)>R>S>D: R, S, D placed; bottom row final (DH curl)
            display-name = "T3";
            bindings = <
&trans  &trans  &trans  &trans    &trans    &trans                          &trans      &trans     &trans     &trans   &trans    &kp BSPC
&trans  &kp Q   &kp W   &ce_f     &kp J     &kp B                           &kp Y       &kp U      &kp I      &kp O    &kp P     &kp LBKT
&trans  &kp A   &kp R   &kp S     &kp T     &kp G                           &kp M       &kp N      &kp E      &kp L    &kp SEMI  &kp APOS
&trans  &kp Z   &kp X   &kp C     &cv_d     &kp V   &trans       &trans     &kp K       &kp H      &trans     &trans   &kp FSLH  &kp RET
                        &trans    &trans    &trans  &trans       &trans     &trans      &trans     &trans
            >;
        };

        tarmak4 { // + J>Y>O>;>P: O to home row
            display-name = "T4";
            bindings = <
&trans  &trans  &trans  &trans    &trans    &trans                          &trans      &trans     &trans     &trans   &trans    &kp BSPC
&trans  &kp Q   &kp W   &ce_f     &kp P     &kp B                           &kp J       &kp U      &kp I      &kp Y    &kp SEMI  &kp LBKT
&trans  &kp A   &kp R   &kp S     &kp T     &kp G                           &kp M       &kp N      &kp E      &kp L    &kp O     &kp APOS
&trans  &kp Z   &kp X   &kp C     &cv_d     &kp V   &trans       &trans     &kp K       &kp H      &trans     &trans   &kp FSLH  &kp RET
                        &trans    &trans    &trans  &trans       &trans     &trans      &trans     &trans
            >;
        };

        // Layout selector. Reach via combo ESC+TAB (&tog Sel), then tap one of
        // the number-row keys to jump to that step (it auto-closes via &to):
        //   ESC=Qwerty  1=T1a  2=T1b  3=T2a  4=T2b  5=T3  6=T4  7=Colemak-DH
        sel {
            display-name = "SEL";
            bindings = <
&to Qwerty  &to Tarmak1a  &to Tarmak1b  &to Tarmak2a  &to Tarmak2b  &to Tarmak3                    &to Tarmak4  &to ColeDH  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans                          &trans       &trans      &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans                          &trans       &trans      &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans   &trans       &trans     &trans      &trans      &trans  &trans  &trans  &trans
                                        &trans        &trans        &trans   &trans       &trans     &trans      &trans      &trans
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_lock {
            timeout-ms = <50>;
            key-positions = <0 11>;
            //bindings = <&kp LOCK>; // Windows
            bindings = <&kp LG(LC(Q))>; // Mac
        };

        toggle_numpad {
            bindings = <&tog Numpad>;
            key-positions = <52 55>;
        };

        layer_select {
            bindings = <&tog Sel>;
            key-positions = <0 12>;
        };
    };
};